APP_GIT = "{{ app_git | default('') }}"
ANSIBLE_GIT = "{{ ansible_git | default('') }}"

pipelineJob('hello') {
    multiscm {
        if (APP_GIT) {
            git(APP_GIT)
        }
        if (ANSIBLE_GIT) {
            git(ANSIBLE_GIT)
        }
    }
    triggers {
        scm('H/5 * * * *')
    }
    definition {
        cps {
            script(readFileFromWorkspace('pipeline/Hello.groovy'))
            sandbox()
        }
    }
}
